@font-face {
  font-family: "Kavivanar-Regular";
  src: url(Kavivanar-Regular);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kavivanar-Regular";
  background: #E8DAB9;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 700;
  color: #000;
  font-size: 60px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #808080;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
}

.contact-inputs:focus {
  border: 2px solid #9D8964;
}

.contact-inputs::-webkit-input-placeholder {
  color: #808080;
}

.contact-inputs::-moz-placeholder {
  color: #808080;
}

.contact-inputs:-ms-input-placeholder {
  color: #808080;
}

.contact-inputs::-ms-input-placeholder {
  color: #808080;
}

.contact-inputs::placeholder {
  color: #808080;
}

.contact-left button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 25px;
  font-size: 16px;
  color: #F3E5C5;
  gap: 10px;
  border: none;
  border-radius: 30px;
  background: #9D8964;
  cursor: pointer;
}

.contact-right img {
  width: 500px;
}

.contact-left:focus {
  border: 2px solid #000;
}

button.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #9D8964;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

button.top-left a {
  text-decoration: none;
  color: #F3E5C5;
  font-size: 16px;
  display: block;
}

.header {
  margin-top: 80px;
  margin-bottom: 40px;
}
.header h2 {
  font-weight: 700;
  color: #000;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.gamecontainer {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.animals {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 200px;
}
.animals .cat, .animals .dog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.animals .cat img {
  width: 150px;
  height: auto;
}
.animals .cat .kassinupp {
  margin-top: 70px;
}
.animals .dog img {
  width: 200px;
  height: auto;
}
.animals .dog .koeranupp {
  margin-top: 20px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 35px;
  font-size: 22px;
  color: #F3E5C5;
  border: none;
  border-radius: 30px;
  background: #9D8964;
  cursor: pointer;
}